* {
  box-sizing: border-box;
  font-family: "Georgia";
  background: var(--baby-pink);
}

:root {
  --maximum-yellow-red: #f6bd60ff;
  --linen: #f7ede2ff;
  --baby-pink: rgb(233, 209, 205);
  --morning-blue: rgb(105, 134, 127);
  --light-coral: #f28482ff;
  --flickr-pink: #f72585ff;
  --byzantine: #b5179eff;
  --purple: #7209b7ff;
  --purple-2: #560badff;
  --trypan-blue: #480ca8ff;
  --trypan-blue-2: #3a0ca3ff;
  --persian-blue: #3f37c9ff;
  --ultramarine-blue: #4361eeff;
  --dodger-blue: #4895efff;
  --vivid-sky-blue: #4cc9f0ff;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  width: 85%;
}

.header {
  padding-left: 15px;
  font-size: 2rem;
  display: inline;
}

.timer_check {
  font-size: 2rem;
  color: var(--morning-blue);
}

#timer {
  font-size: 2rem;
}

.timer-title {
  font-size: 2rem;
}

/* #highscore:hover {
  cursor: pointer;
  color: rgb(203, 120, 118);
}

#highscore {
  text-align: left;
} */

/* Welcome Page*/

#welcome_page {
  padding: 20px;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

h1 {
  color: var(--byzantine);
  background-color: var(--baby-pink);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-right: 20%;
}

p {
  font-size: 17px;
}

#rules {
  font-weight: bold;
  color: rgb(105, 134, 127);
}

.list {
  font-size: 17px;
  list-style: square;
  padding-left: 1em;
  list-style-type: square;
}

.start {
  align-items: center;
  text-align: center;
}

.start h1,
.start p {
  text-align: center;
}

/* Question Section */

/* #questions_container {
  padding: 20px;
  flex-direction: column;
  width: 50%;
  margin: auto;
} */

#questions_container {
  color: var(--persian-blue);
  text-align: left;
  font-size: 2rem !important;
  font-weight: bold;
}

#container-questions {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 20px;
  margin: auto;
}

#options {
  color: #3f37c9ff;
}

#next-question-button {
  color: white;
  background-color: #f28482ff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 3px;
  box-shadow: 0 3px grey;
  position: relative;
  cursor: pointer;
}

#next-question-button:hover {
  background: var(--dodger-blue);
  border-radius: 10px;
  box-shadow: 0 2px grey;
  cursor: pointer;
}

.next-question {
  background: #560badff;
  width: 100%;
}

.end h2,
.end p {
  text-align: left;
}

.end input {
  outline: thick;
  border-width: 1px;
  padding: 5px;
  width: 35%;
  font-size: 2.2rem;
  border-radius: 5px;
}

.end input:focus {
  border: 2px solid var(--persian-blue);
}

/* Show and Hide containers */

.hide {
  display: none;
}

.show {
  display: flex;
}

/* High Score */

ol {
  list-style-type: circle;
}

li:nth-child(odd) {
  background-color: rgb(196, 218, 213);
  border-color: black;
  border-radius: 3px;
  border-width: 3px;
  border-style: solid;
}

li:nth-child(even) {
  background-color: rgb(229, 239, 185);
  border-color: black;
  border-radius: 3px;
  border-width: 3px;
  border-style: solid;
}

li {
  font-size: 2vw;
}

/* Buttons */

.btn-box {
  outline: none;
}

#back-btn {
  background: #f28482ff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 3px;
  box-shadow: 0 3px grey;
  position: relative;
  cursor: pointer;
}

#back-btn:hover {
  background: var(--dodger-blue);
  border-radius: 10px;
  box-shadow: 0 2px grey;
  cursor: pointer;
}

#back-btn:active {
  border: none;
  outline: none;
  box-shadow: 0 0 grey;
}

#back-btn:focus {
  outline: none;
}

#score-check {
  background: #f28482ff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 3px;
  box-shadow: 0 3px grey;
  position: relative;
  cursor: pointer;
}

#score-check:hover {
  background: var(--dodger-blue);
  border-radius: 10px;
  box-shadow: 0 2px grey;
  cursor: pointer;
}

#score-check:active {
  border: none;
  outline: none;
  box-shadow: 0 0 grey;
}

#score-check:focus {
  outline: none;
}

#clear-btn {
  background: #f28482ff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 3px;
  box-shadow: 0 3px grey;
  position: relative;
  cursor: pointer;
}

#clear-btn:hover {
  background: var(--dodger-blue);
  border-radius: 10px;
  box-shadow: 0 2px grey;
  cursor: pointer;
}

#clear-btn:active {
  border: none;
  outline: none;
  box-shadow: 0 0 grey;
}

#clear-btn:focus {
  outline: none;
}

.submit {
  background: #f28482ff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 3px;
  box-shadow: 0 3px grey;
  position: relative;
  cursor: pointer;
}

.submit:hover {
  background: var(--dodger-blue);
  border-radius: 10px;
  box-shadow: 0 2px grey;
  cursor: pointer;
}

#submit-btn:active {
  border: none;
  outline: none;
  box-shadow: 0 0 grey;
}

#submit:focus {
  outline: none;
}

#start-game {
  background: #f6bd60ff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 3px;
  box-shadow: 0 3px grey;
  position: relative;
  cursor: pointer;
}

#start-game:hover {
  background: var(--dodger-blue);
  border-radius: 10px;
  box-shadow: 0 2px grey;
  cursor: pointer;
}

#start-game:active {
  border: none;
  outline: none;
  box-shadow: 0 0 grey;
}

#start-game:focus {
  outline: none;
}

#startend {
  margin-top: 10px;
  width: 25%;
}

#answer_button {
  width: 50%;
  text-align: left;
  font-size: 3vw;
}

/* Check Questions - correct or incorrect */

#score-complete {
  font-size: 25px;
  text-align: center;
  color: #560badff;
  font-style: italic;
  margin: 0 100px;
}

#correct {
  border-top: 2px solid green;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
}

#incorrect {
  border-top: 2px solid red;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
}
